<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PatitasAlRescate">
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Controllers.ActividadRegistrarMascota"
            android:exported="false" />
        <activity
            android:name=".Controllers.ActividadTestSync"
            android:exported="false" />
        <activity
            android:name=".Controllers.ActividadAdopcion"
            android:exported="false" />
        <activity
            android:name=".Controllers.ActividadPerfilMascota"
            android:exported="false" />
        <activity
            android:name=".Controllers.ActividadListarRefugios"
            android:exported="false" />
        <activity
            android:name=".Controllers.ActividadReportar"
            android:exported="false" />
        <activity
            android:name=".Controllers.ActividadBusquedaPorFiltro"
            android:exported="false" />
        <activity
            android:name=".Controllers.ActividadMisFavoritos"
            android:exported="false" />
        <activity
            android:name=".Controllers.ActividadListarMascotas"
            android:exported="false" />
        <activity
            android:name=".Controllers.ActividadInicioAdoptante"
            android:exported="false" />
        <activity
            android:name=".Controllers.ActividadRegistrarAdoptante"
            android:exported="false" />
        <activity
            android:name=".Controllers.ActividadRegistrarOrganizacion"
            android:exported="false"
            android:parentActivityName=".Controllers.ActividadRegistro"/>
        <activity
            android:name=".Controllers.ActividadRegistro"
            android:exported="false" />
        <activity
            android:name=".Controllers.ActividadIniciarSesion"
            android:exported="false" />
        <activity
            android:name=".Controllers.ActividadIngresar"
            android:exported="false"
            android:theme="@style/Theme.PatitasAlRescate" />
        <activity
            android:name=".Controllers.ActividadInicioRefugio"
            android:exported="true"
            android:parentActivityName=".Controllers.ActividadIniciarSesion" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>